.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #131921;
}

.brandName {
  color: #f50303;
  font-weight: bolder;
  font-size: large;
}

.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45%;
  background-color: #ffffff;
  flex: 1;
  border-radius: 5px;
  font-size: small;
  font-weight: 400;
  color: #868686;
  margin: 0px 10px;
}

.searchInput {
  border: none;
  outline: none;
  box-shadow: none;
  height: 100%;
  width: 80%;
  margin-left: 15px;
}
.searchIconContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 7px;
}

.searchBox input::placeholder {
  color: #868686;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 60px;
  background-color: #f50303;
  border-radius: 7px;
  color: #ffffff;
  font-size: medium;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 20px;
}

.cartContainer:hover {
  background-color: #cc0303;
  transform: scale(1.05);
  cursor: pointer;
}

.searchIcon {
  width: 16px;
  height: 16px;
  color: #000;
}

.cartIcon {
  width: 16px;
  height: 16px;
  color: #eaeaea;
  margin-right: 5px;
}
