.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}

.tapButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
  background-color: rgb(223, 195, 195);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 110px;
}

.buttonTextStyle {
  margin-left: 5px;
}

.tapButtonContainer:hover {
  background-color: rgb(178, 154, 154);
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.buttonIcontyle {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.closeIcon {
  width: 16px;
  height: 16px;
  color: red;
}

.buttonContainer {
  min-height: 10px;
  width: 130px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 150px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
}
.sortModalContainer {
  right: 5px;
}
.filterModalContainer {
  right: 100px;
}
.tableModalContainer {
  right: 205px;
}

.sortOption {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  margin-top: 5px;
  border-bottom: 1px solid rgb(169, 163, 163);
}

.sortOption:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
